.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 32px);
  margin: auto;

  .box {
    width: 100%;
    height: 100%;
    margin: 24px 0;
    text-align: center;

    &:first-child {
      margin-top: 24px;
    }

    &:last-child {
      margin-bottom: 24px;
    }
  }
}

.icon {
  position: relative;
  text-align: center;

  svg {
    position: absolute;
    top: 125px;
    left: 125px;
    display: inline-block;
    color: #2375e1;
    transform: translate(-125px, -125px);
  }

  &-animate {
    font-size: 50px;
    animation: loading-spinner 2s infinite linear;
  }
}

.iconAnimate {
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
